<div class="container p-5">
    <div class="row">
        <button class="btn-secondary" style="margin-left:100%">Add</button>
    </div>
    <div class="row">
        <div class="col-2">
            <img src="../assets/images/nick.jpg" class="img-fluid rounded rounded-circle" width="100px" height="100px" alt="Bobby">
            <p>Nick is friendly</p>
            <button class="btn-success">Edit</button>
            <button class="btn-danger" style="margin-left: 10px;">Delete</button>
        </div>

        <div class="col-2">
            <img src="../assets/images/billy.jpeg" class="img-fluid rounded rounded-circle" width="100px" height="100px" alt="Scott">
            <p>Billy is curios.</p>
            <button class="btn-success">Edit</button>
            <button class="btn-danger" style="margin-left: 10px;">Delete</button>
        </div>

        <div class="col-2">
            <img src="../assets/images/caleb.jpeg" class="img-fluid rounded rounded-circle" width="100px" height="100px" alt="Scott">
            <p>Caleb is bored.</p>
            <button class="btn-success">Edit</button>
            <button class="btn-danger" style="margin-left: 10px;">Delete</button>
        </div>

        <div class="col-2">
            <img src="../assets/images/bobby.jpg" class="img-fluid rounded rounded-circle" width="100px" height="100px" alt="Bobby">
            <p>Bobby is carefree</p>
            <button class="btn-success">Edit</button>
            <button class="btn-danger" style="margin-left: 10px;">Delete</button>
        </div>

        <div class="col-2">
            <img src="../assets/images/scott.jpg" class="img-fluid rounded rounded-circle" width="100px" height="100px" alt="Scott">
            <p>Scott is grumpy</p>
            <button class="btn-success">Edit</button>
            <button class="btn-danger" style="margin-left: 10px;">Delete</button>
        </div>
        <div class="col-2">
            <img src="../assets/images/manny.jpg" class="img-fluid rounded rounded-circle" width="100px" height="100px" alt="Scott">
            <p>Manny is pacquiao</p>
            <button class="btn-success">Edit</button>
            <button class="btn-danger" style="margin-left: 10px;">Delete</button>
        </div>
    </div>
</div>